<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="default.aspx" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
				<rule name="Redirigir a index.php" patternSyntax="Wildcard" stopProcessing="true">
				    <match url="*" ignoreCase="true" />
				    <conditions logicalGrouping="MatchAll">
				        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
				    </conditions>
				    <action type="Rewrite" url="index.php" appendQueryString="true" />
				</rule>
            </rules>
        </rewrite>
        <httpErrors errorMode="Detailed" />
    </system.webServer>
</configuration>
